$color: #b20d52;

.invalid-label {
  margin-top: 3px;
  color: $color;
  font-family: Muli;
}

.button{
  margin: auto;
  width: 50%;
  padding:0;
  width:120px;
  height:90px;
  outline:none;
  border-radius: 5px;
  cursor:pointer;

}

.modal_{
  border-radius: 5px;
  box-shadow:0 0 10px $color,0 0 7px $color,0 0 7px $color,0 0 7px $color;
}

.super-blurry {
  background-color: rgba(0, 0, 0, 0.50);
  backdrop-filter: blur(5px);
  border-radius: 15px;
}

.little-blurry {
  box-shadow:0 0 3px $color,0 0 3px $color,0 0 3px $color,0 0 3px $color;
}

.inline {
  display: grid;
  grid-template-columns: 90% 10%;
}

.close-button {
  cursor:pointer;
}

.save-button {
  margin: auto;
  width: 180px;
  margin-top: 25px;
}

.form {
  margin: auto;
  width: 80vw;
  max-width: 350px;
  margin-top: 25px;
}

.form-address {
  border-radius: 5px;
  width: 80vw;
  max-width: 350px;
  height: 50px;
  background-color: transparent;
  color: whitesmoke;
}

.form-address:focus {
  outline: none;
  border: none;
  outline-color: $color;
  box-shadow:0 0 5px $color,0 0 5px $color,0 0 5px $color,0 0 5px $color;
}

.form-content {
  border-radius: 5px;
  width: 80vw;
  max-width: 350px;
  height: 100px;
  background-color: transparent;
  color: whitesmoke;
}

.form-content:focus {
  outline: none;
  border: none;
  outline-color: $color;
  box-shadow:0 0 5px $color,0 0 5px $color,0 0 5px $color,0 0 5px $color;
}
