<div class="center-contact-me">
    <button class="submit get-in-touch">
      <a (click)="openDialog(content)" class="little-blurry" i18n>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        Get in touch
      </a>
      </button>
</div>

<ng-template #content let-modal>
  <div class="modal_ super-blurry">
    <div class="inline mt">
      <div class="font-subtitle ml" i18n>
        Get in touch
      </div>
      <div class="font-subtitle">
        <div class="close-button" (click)="modal.dismiss()">X</div>
      </div>
    </div>
    <form class="form" [formGroup]="formGroup">
      <input type="email" class="form-address" placeholder="your mail address" i18n-placeholder [formControl]="formGroup.controls['email']">
      <div class="invalid-label" *ngIf="formGroup.get('email').errors && (formGroup.get('email').dirty || this.sendEmpty)" i18n>
        ❌Invalid Email
      </div>
      <br>
      <br>
      <textarea name="Text1" cols="40" rows="5" class="form-content" 
      placeholder="Your message" i18n-placeholder [formControl]="formGroup.controls['body']"></textarea>
      <div class="invalid-label" *ngIf="formGroup.get('body').errors && (formGroup.get('body').dirty || this.sendEmpty)" i18n>
        ❌Empty Message
      </div>
    </form>
    <div class="submit save-button">
      <a (click)="onSubmit()" type="submit" class="little-blurry">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        {{ this.sendButtonMessage }} 
      </a>
    </div>
  </div>

</ng-template>
