<div *ngIf="isDesktop; else phoneLayout" class="blurry header-dim inline">
    <div class="image shadow">
    </div>
    <nav>
        <ul class="no-margin header-list">
            <li *ngFor="let headerElement of headerList" class="header-list-elem">
                <a routerLink="{{ headerElement.label }}" routerLinkActive="active" style="text-decoration: none;">
                    <b class="font-general underline">{{ headerElement.label }}</b>
                </a>
            </li>
        </ul>
    </nav>
</div>

<ng-template #phoneLayout>
 <div class="font-general">
    TODO: implement phone header
 </div>
</ng-template>
