<div *ngIf="isDesktop; else phoneLayout" class="blurry header-dim inline">
    <div class="image shadow">
    </div>
    <nav>
        <ul class="no-margin header-list">
            <li 
            *ngFor="let headerElement of headerList" 
            class="header-list-elem underline font-header"
            routerLink="{{ headerElement.label }}" 
            routerLinkActive="active">
            <div class="mt">
                {{ headerElement.label }}
            </div>
            </li>
        </ul>
    </nav>
</div>

<ng-template #phoneLayout>
 <div class="font-general">
    TODO: implement phone header
 </div>
</ng-template>
