.footer-dim {
    height: 5em;
    border-radius: 15px 15px 0px 0px;
}

.copyright-element {
    margin-left: 8vw;
    padding-top: 3em;
}

.inline {
    display: grid;
    grid-template-columns: 70% 30%;
}

.right {
    text-align: right;
    margin-right: 8vw;
}