  .loader{
    text-align: center;
    padding: 1em;
    padding-top: 50vh;
  }
  
  /*
    Set the color of the icon
  */
  svg path,
  svg rect{
    fill: #d2d2d2;
  }

  .center {
    margin: auto;
    width: 50%;
    height: 100vh;
  }