<div 
class="font-general height"
[class.horizontal]="this.isDesktop" 
[class.vertical]="!this.isDesktop"
>
    <div 
    class="image" 
    [style.background-image]="wrapImagePath(this.imagePath)"
    (click)="this.openDialog(content)">
    </div>
    <div class="spacing"></div>
    <p class="text">
        {{ this.textContent }}
    </p>
</div>


<ng-template #content let-modal>
    <div class="blurry modal_">
        <div class="mt font-subtitle">
            <div class="close-button" (click)="modal.dismiss()">X</div>
        </div>
        <div class="image-open" [style.background-image]="wrapImagePath(this.imagePath)">
        </div>
    </div>
</ng-template>