.radius {
    border-radius: 0px 0px 15px 15px;
}

.header-list-elem {
    margin-bottom: 20px;
    filter: drop-shadow(2px 2px 2px rgb(0, 0, 0));
    height: 60px;
    cursor:pointer;
    border-radius: 15px;
    text-align: center;
    min-width: 200px;
}

.header-list {
    list-style-type: none;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 0px;
    padding-right: 0px;
}

.underline:hover {
    text-decoration: underline;
}

.active {
    background-color: rgba(178,13,82,.7);
}

.active:hover {
    background-color: rgb(178,13,82);
}