.group {
    min-height: 560px;
    margin: auto;
    margin-top: 40px;
    padding-top: 20px;
}

.group-width {
    width: 80%;
}

.group-width-phone {
    width: 90%;
}

.grid {
    display: grid;
    grid-template-columns: 5% 90% 5%;
}

.grid-phone {
    display: grid;
    grid-template-columns: 10% 80% 10%;
}

.image {
    margin-left: 5px;
    align-self: center;
    margin-right: 5px;
    cursor: pointer;
}

.scale:hover {
    transform: scale(1.2);
}

.center-content-group {
    width: 200px;
    height: 30px;
    margin: auto;
    align-self: center;
    display: flex;
    justify-content:center;
}

.circle-dim {
    height: 10px;
    margin-left: 8px;
    margin-right: 8px;
}

.disabled {
    opacity: 0.3;
}

.selected {
    filter: drop-shadow(1px 1px 3px rgb(0, 0, 0));
    transform: scale(1.1);
}