.center-block {
    min-height: 220px;
    margin-left: 10vw;
    margin-right: 10vw;
    margin-top: 10vh;
    margin-bottom: 10vh;
}

.phone-block {
    margin-left: 2vw;
    margin-right: 2vw;
}

.input {
    margin-top: 5vh;
    border-radius: 5px;
    border-style: none;
}

.height {
    height: 500px;
    margin-bottom: 10vh;
}

.margin {
    margin: 5vw;
    margin-top: 2vw;
    width: 70vw;
    border-radius: 15px;
    height: 420px;
    background-color: lightgray;
}

.play-store-button {
    background-repeat: none;
    background-position: -20px -20px;
    background-size: 120% 180%;
    width: 200px;
    height: 50px;
    margin: auto;
    border-radius: 15px;
    filter: drop-shadow(0px 0px 5px rgba(230, 230, 230, 0.4));
}

.shadow:hover {
    filter: drop-shadow(0px 0px 5px rgba(230, 230, 230, 0.8));
}

.no-decoration {
    text-decoration: none;
    color: whitesmoke;
}

.underline:hover {
    text-decoration: underline;
    color: whitesmoke;
}

.button-proj {
    margin-top: 10px;
    min-width: 100px;
    margin-bottom: 10px;
    border-radius: 5px;
}

.image-dim {
    max-width:75vw; 
    max-height:min-content;
}