.center-block {
    height: 200px;
    margin-left: 10vw;
    margin-right: 10vw;
    margin-top: 5vh;
    margin-bottom: 30vh;
}

.input {
    margin-top: 5vh;
    width: 60vw;
    margin-left: 10vw;
    border-radius: 15px;
    background-color: lightgray;
}

.button {
    margin-left: 35vw;
    margin-right: 35vw;
    margin-top: 3vh;
    width: 10vw;
    height: 50px;
    border-radius: 15px;
    background-color: lightgray;
}

.height {
    height: 500px;
    margin-bottom: 10vh;
}

.margin {
    margin: 5vw;
    margin-top: 2vw;
    width: 70vw;
    border-radius: 15px;
    height: 420px;
    background-color: lightgray;
}