.title-phone {
    margin-top: 5vh;
    width: 80%;
    margin: auto;
    text-align: center;
}

.title {
    margin-top: 5vh;
    width: 80%;
    margin-left: 10vw; 
}

.text-area-position-phone {
    margin: auto;
}

.text-area-position {
    margin-left: 10vw;
}

.text-area {
    margin-top: 10vh;
    height: 400px;
    margin-bottom: 6vh;
    width: 50%;
    min-width: 280px;
}

.blurry {
    background-color: rgba(0, 0, 0, 0.30);
    backdrop-filter: blur(5px);
    border-radius: 15px;
}

.padding {
    padding-top: 50px;
    padding-right: 50px;
    padding-left: 50px;
}