
<div class="inline">
    <div>
        <div class="font-title title">
            Raffaele Spinoni
        </div>
        
        <div class="font-general text-area blurry">
            <div class="padding font-subtitle">
                👋
            </div>
            <div class="padding">
                Hello! I'm a fullstack developer and technical writer based in France, 
                I'm passionate about technologies and I always enjoy learning something new. 
                Here you can find all my projects and get in touch with me!
                <br><br>
                <hr>
                <app-contact-me></app-contact-me>
            </div>
        </div>
    </div>
</div>

