
<div>
    <div>
        <div 
        [class.font-title-dark-theme]="this.isDark"
        [class.title-shadow-dark-theme]="this.isDark"
        [class.font-title-light-theme]="!this.isDark"
        [class.title-shadow-light-theme]="!this.isDark"
        [class.title]="this.isDesktop"
        [class.title-phone]="!this.isDesktop"
        >
            Raffaele Spinoni
        </div>
        <div 
        class="font-general text-area blurry" 
        [class.text-area-position]="this.isDesktop" 
        [class.text-area-position-phone]="!this.isDesktop"
        >
            <div class="padding font-subtitle">
                👋
            </div>
            <div class="padding">
                Hello! I'm a fullstack developer and technical writer based in France, 
                I'm passionate about technologies and I always enjoy learning something new. 
                Here you can find all my projects and get in touch with me!
                <br><br>
                <hr>
            </div>
            <app-contact-me></app-contact-me>
        </div>
    </div>
</div>

