@import '../../styles.scss';

.title-phone {
    margin-top: 10vh;
    width: 80%;
    margin: auto;
    text-align: center;
}

.title-shadow-dark-theme {
    text-shadow: 0px 0px 8px black, 0px 0px 8px black;
}

.title-shadow-light-theme {
    text-shadow: 0px 0px 8px whitesmoke;
}

.title {
    margin-top: 8vh;
    width: 80%;
    margin-left: 10vw; 
}

.text-area-position-phone {
    margin: auto;
    width: 60%;
    min-width: 280px;
}

.text-area-position {
    margin-left: 10vw;
    width: 40%;
    min-width: 480px;
}

.text-area {
    margin-top: 10vh;
    margin-bottom: 12vh;
    padding-bottom: 30px;
}

.padding {
    padding-top: 50px;
    padding-right: 50px;
    padding-left: 50px;
}

.horizontal-grid {
    display: grid;
    grid-template-columns: 8% 42% 42% 8%;   
}

.vertical-grid {
    display: grid;
    grid-template-rows: 0px 70px 70px 0px;
}

.focused {
    background: $color;
}