.title {
    margin-top: 5vh;
    margin-left: 10vh;
}

.text-area {
    margin-left: 10vh;
    margin-top: 10vh;
    height: 350px;
    margin-bottom: 6vh;
    width: 50%;
}

.blurry {
    background-color: rgba(0, 0, 0, 0.10);
    backdrop-filter: blur(5px);
}

.inline {
    display: grid;
    grid-template-columns: 80% 20%;
}

.padding {
    padding-top: 50px;
    padding-right: 50px;
    padding-left: 50px;
}