<div 
class="height"
[class.font-general]="!this.isDesktop"
[class.font-general-big]="this.isDesktop"
[class.horizontal]="this.isDesktop" 
[class.vertical]="!this.isDesktop"
>
    <div 
    class="image" 
    [style.background-image]="wrapImagePath(this.imagePath)"
    (click)="this.openDialog(content)">
    </div>
    <div class="spacing"></div>
    <div class="center">
        <div 
        [class.vertical-no-space]="!this.isDesktop" 
        [class.horizontal-no-space]="this.isDesktop" 
        *ngIf="this.certificationInfo"
        >
            <p class="text"><i> obtained in: {{this.certificationInfo.dateFrom}}</i></p>
            <p class="text"><i> expires in: {{this.certificationInfo.dateTo}}</i></p>
        </div>
        <p class="text">
            {{ this.textContent }}
        </p>
        <p *ngIf="this.certificationInfo && this.certificationInfo.id">
            <i>ID: {{this.certificationInfo.id}}</i>
        </p>
    </div>
</div>


<ng-template #content let-modal>
    <div class="blurry modal_">
        <div class="mt font-subtitle">
            <div class="close-button" (click)="modal.dismiss()">X</div>
        </div>
        <div class="image-open" [style.background-image]="wrapImagePath(this.imagePath)">
        </div>
    </div>
</ng-template>