.background-gradient {
    background: linear-gradient(30deg, rgba(0, 0, 0, 0.750), rgba(0, 0, 0, 0.900));
}

.background-black {
    background-color:rgba(0, 0, 0, 0.750);
}

.shape3d {
    height: 100%;
    background-size: 800px 800px;
    background-position-x: right;
    background-repeat: no-repeat;
    filter: drop-shadow(2px 2px 2px rgb(36, 36, 36));
}
