<div 
[class.background-gradient-dark]="this.isDark" 
[class.background-gradient-white]="!this.isDark"
>
    <div 
    class="shape3d dim" 
    [class.shape-position-phone]="!isDesktop" 
    [style.background-image]="backGroundImagePathWrapped"
    >
        <app-header (isMenuToggledEmitter)="this.isMenuToggled = $event"></app-header>

        <app-theme-selector *ngIf="!this.isMenuToggled" [class.sticky]="sticky"></app-theme-selector>

        <div [@animationTrigger]="this.animationState">
            <router-outlet></router-outlet>
        </div>
    
        <app-footer></app-footer>
    </div>
</div>