<div class="info-padding">
    <img 
    src ="assets/svgs/info.svg" 
    ngbTooltip="The information present here are retrieved directly from www.7timer.info/doc.php
    As a developer I'm not responsible for the forecast reliability"
    i18n-ngbTooltip
    >
</div>
<div class="font-subtitle v-padding" style="text-align: center;">
    <a i18n>Meteo Application</a>
</div>

<div class="h-scrolling" [class.phone-width]="!this.isDesktop" *ngIf="this.meteoState !== []; else apiError">
    <div *ngFor="let timePoint of this.meteoState" class="h-scrolling-element">
        <app-meteo-time-point [instantMeteoData]="timePoint" [class.loading-opacity]="this.loading">
        </app-meteo-time-point>
    </div>
</div>
<div class="h-center v-padding" *ngIf="this.validPosition; else positionError">
    <button class="submit get-in-touch" (click)="refresh()">
        <a class="little-blurry" [class.focused]="!this.loading">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            {{ this.loading ? this.loadingText : this.refreshText }}
        </a>
    </button>
</div>


<ng-template #apiError>
    <p 
    style="text-align: center;" 
    [class.font-general]="!this.isDesktop" 
    [class.font-general-big]="this.isDesktop"
    >
        <a i18n>Error response from the meteo API</a>
    </p>
</ng-template>

<ng-template #positionError>
    <p 
    style="text-align: center;" 
    [class.font-general]="!this.isDesktop" 
    [class.font-general-big]="this.isDesktop"
    >
        <a i18n>Allow the browser to access your position in order to retrieve meteo data</a>
    </p>
</ng-template>
