.h-scrolling {
	overflow: scroll;
	overflow-y: hidden !important;
	white-space: nowrap;
    width:80vw;
	-ms-overflow-style: none;
	scrollbar-width: none;
}

.phone-width {
	width: 96vw;
}

.h-scrolling-element {
    display: inline-block;
	margin-left: 10px;
}

.loading-opacity {
	opacity: 0.5;
}

.h-grid {
	display: grid;
	grid-template-columns: 60% 40%;
}

.info-padding {
	padding-top: 3px;
	padding-left: 3px;
}