.no-margin {
    margin: 0%;
}

.font-title {
    font-family: Space Mono;
    font-size: 100px;
    color: whitesmoke;
}

.font-subtitle {
    font-family: Muli;
    font-size: 30px;
    color: whitesmoke;
}

::-webkit-scrollbar {
    display:none;
}

.vertical-center {
    position: absolute;
    top: 50%;
}

.font-general {
    font-family: Muli;
    font-size: 20px;
    color: whitesmoke;
}