.no-margin {
    margin: 0%;
}

.font-title {
    font-family: Space Mono;
    font-size: 100px;
    color: whitesmoke;
}

.font-subtitle {
    font-family: Muli;
    font-size: 30px;
    color: whitesmoke;
}

::-webkit-scrollbar {
    display:none;
}